.chat-main
  .main-header
    .main-header__left-box
      %h2.main-header__left-box__current-group
        = @group.name
      %ul.main-header__left-box__member-list
        Member : 
        %li.main-header__left-box__member-list__member  sam 
        %li.main-header__left-box__member-list__member  sample
    .main-header__edit-btn Edit

  .messages
    = render partial: 'message', collection: @messages
    .message
      .message__upper-info
        %p.message__upper-info__talker 
        %p.message__upper-info__date 
      %p.message__text 
    .message
      .message__upper-info
        %p.message__upper-info__talker 
        %p.message__upper-info__date 
      %p.message__text 
  
  .form
    .new_message
      = form_for [@group, @message] do |f|
        .input-box
          = f.text_field :content, class: 'input-box__text', placeholder: 'type a message'
          = f.label :image, class: 'input-box__image' do
            = icon('fas', 'image', class: 'icon')
            = f.file_field :image, class: 'input-box__image__file'
        = f.submit 'Send', class: 'form__submit'
  