.chat-side
  .side-header
    .side-header__box
      %p.side-header__box__user-name 
        = current_user.name
      %ul.side-header__box__menu
        =link_to new_group_path, class: "side-header__box__menu__new-group" do
          = fa_icon 'pencil-square-o', class: 'icon'
          %i.pencil-square-o
        =link_to edit_user_path(current_user), class: "side-header__box__menu__edit-user" do
          = fa_icon 'cog', class: 'icon'
          -# =fa_icon 'cog'
          %i.cog
        .side-header__box__menu__edit-user
  .chat-groups
    - current_user.groups.each do |group|
      .chat-group
        = link_to group_messages_path(group) do
          .chat-group__name
            = group.name
          .chat-group__message
            = group.show_last_message
            -# メッセージはまだありません。
